/*External CSS for modifyinhg all html pages*/
body{
    background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
}
hr{
    border-color: grey;
            border-style: none;
            border-top-style: dotted;
            border-width: 5px;
            width: 10%;
            /*background-color: white;
            border-style: none;
            height: 2px;*/
}